.kurslar{
    width: 100%;
    height: 250px;/*180px;*/
    z-index: 1/*2*/;/*burda 2 etdim ki sandwich menu-da z-index 1 olan secimlerin ustune cixsin*/
    background-color: /*#E5CD77*/black;
    position: absolute;
    top: 200px;
    display: none;/*sehife yuklenende,ilkin halda gorunmez olsun*/
    text-align: center;
}

.kurslar p{
    width: 100%;
    height: 50px;
    color: /*#222A35*/turquoise;
}
.kurslar a{
    text-decoration: none;
}