*{
    box-sizing: border-box;
}
/*@media(min-width:990px){*/
    .loginbody{
        width: 100%;
        height: 1000px;
        position: relative;
        /*background: #d5d9de9d;*/
        background-color: /*#E5CD77*/aliceblue;
    }
    .loginbody .chart{
        width: /*30%*/500px;
        height: 600px;
        /*background-color: red;*/
        position: absolute;
        top: 200px;/*(1000px-600px)/2*/
        left: calc(50% - 250px);/*(100%-500px)/2*/
        border: 2px solid #222A35;
        background: white;
        border-radius: 20px;
    }
    .loginbody .email{
        /*background-color: yellow;*/
        position: relative;
        /*display: inline-block;*/
    }
    .loginbody .email input{
        width: 350px;
        height: 35px;
        position: absolute;
        /*top: 0;*/
        left: 75px;/*(500px-350px)/2 (input -u olcusu standart olaraq 300px gelir)*/
    }
    .loginbody .password{
        /*background-color: yellow;*/
        position: relative;
    }
    .loginbody .password input{
        width: 350px;
        height: 35px;
        position: absolute;
        top: 60px;
        left: 75px;
    }
#forgot{
    /*background-color: blueviolet;*/
    position: relative;
    top:120px;
    left: 185px;
}
#signinbutton{
    width: 200px;
    height: 35px;
    position: relative;
    top: 150px;
    left: 150px;/*(500px-200px)/2*/
    cursor: pointer;
    background: #222A35;
    border: 2px solid #222A35;
    color: antiquewhite;
}
#signinbutton:hover{
    background: transparent;
    color: #222A35;
}
#additions{
    /*background-color: orange;*/
    position: relative;
    top: 160px;
    text-align: center;
    color:#222A35;
}
#signinmessage{
    /*background-color: aqua;*/
    text-align: center;
    color: #222A35;
}
.loginbody h1{
    /*background-color: yellow;*/
    width: 86px;
    position: relative;
    left: 207px;/*(500 - 86)/2*/
    color: #222A35;
}
#signinwith{
    width: 250px;
    height: 50px;
    /*background: yellowgreen;*/
    position: absolute;
    top: 515px;
    left: 125px;/*(500px-250px)/2*/
    display: flex;
    justify-content: space-around;
}
#signinwith div{
    width: 50px;
    height: 50px;
    /*background-color: orange;*/
}
#continue{
    /*background-color: red;*/
    width: 138px;
    position: relative;
    top: 250px;
    left: 181px;/*(500px - 138px)/2*/
    color:#222A35;
}
.loginbody a{
    color:#222A35;
}
#signinwith #facebook{
    background-image: url("../../assets/facebookbig.png");
}
#signinwith #google{
    background-image: url("../../assets/googlebig.png");
}
#signinwith #apple{
    background-image: url("../../assets/applebig.png");
}
/*}*/
@media(max-width:990px){
    .loginbody{
        width: 100%;
        height: 1000px;
        position: relative;
        /*background: #ADB9CA;*/
        background-color: /*#E5CD77*/aliceblue;
    }
    .loginbody .chart{
        width: /*30%*/500px;
        height: 600px;
        /*background-color: red;*/
        position: absolute;
        top: 200px;/*(1000px-600px)/2*/
        left: calc(50% - 250px);/*(100%-300px)/2*/
        border: 2px solid #222A35;
        background: white;
        border-radius: 20px;
    }
    .loginbody .email{
        /*background-color: yellow;*/
        position: relative;
    }
    .loginbody .email input{
        width: 320px;
        height: 35px;
        position: absolute;
        top: 0px;
        left: /*90*/88px;/*(500px-2-2-320px)/2 (input -u olcusu standart olaraq 300px gelir)*/
    }
    .loginbody .password{
        /*background-color: yellow;*/
        position: relative;
    }
    .loginbody .password input{
        width: 320px;
        height: 35px;
        position: absolute;
        top: 60px;
        left: 88px;
        display: block;
    }
    #forgot{
        /*background-color: blueviolet;*/
        position: relative;
        top:120px;
        left: 185px;
    }
    #signinbutton{
        width: 200px;
        height: 35px;
        position: relative;
        top: 150px;
        left: 150px;/*(500px-200px)/2*/
        cursor: pointer;
        background: #222A35;
        border: 2px solid #222A35;
        color: antiquewhite;
    }
    #signinbutton:hover{
        background: transparent;
        color: #222A35;
    }
    #additions{
        /*background-color: orange;*/
        position: relative;
        top: 160px;
        text-align: center;
        color:#222A35;
    }
    #signinmessage{
        /*background-color: aqua;*/
        text-align: center;
        color: #222A35;
    }
    .loginbody h1{
        /*background-color: yellow;*/
        width: 86px;
        position: relative;
        left: 207px;/*(500 - 86)/2*/
        color: #222A35;
    }
    #signinwith{
        width: 250px;
        height: 50px;
        /*background: yellowgreen;*/
        position: absolute;
        top: 515px;
        left: 125px;/*(500px-250px)/2*/
        display: flex;
        justify-content: space-around;
    }
    #signinwith div{
        width: 50px;
        height: 50px;
        /*background-color: orange;*/
    }
    #continue{
        /*background-color: red;*/
        width: 138px;
        position: relative;
        top: 250px;
        left: 181px;/*(500px - 138px)/2*/
        color:#222A35;
    }
    .loginbody a{
        color:#222A35;
    }
    #signinwith #facebook{
        background-image: url("../../assets/facebookbig.png");
    }
    #signinwith #google{
        background-image: url("../../assets/googlebig.png");
    }
    #signinwith #apple{
        background-image: url("../../assets/applebig.png");
    }
}
@media(max-width:564px){
    .loginbody{
        width: 100%;
        height: 1000px;
        position: relative;
        /*background: #ADB9CA;*/
        background-color: /*#E5CD77*/aliceblue;
    }
    .loginbody .chart{
        width: /*30%*//*500*/350px;
        height: 600px;
        /*background-color: red;*/
        position: absolute;
        top: 200px;/*(1000px-600px)/2*/
        left: calc(50% - 175px);/*(100%-260px)/2*/
        border: 2px solid #222A35;
        background: white;
        border-radius: 20px;
    }
    .loginbody .email{
        /*background-color: yellow;*/
        position: relative;
        /*height: 35px;*/
        /*width: 346px;/*350-2-2*//*soldan ve sagdan parend div-in border qalinliglari nezere alinmalidi*/
        /*top: 0px;*/
    }
    .loginbody .email input{
        width: 310px;
        height: 35px;
        position: absolute;
        top: 0px;
        left: 18px;/*(346px-310px)/2 (input -u olcusu standart olaraq 300px gelir)*/
    }
    .loginbody .password{
        /*background-color: yellow;*/
        position: relative;
        /*height: 35px;
        width: 346px;
        top: 60px;
        left: 18px;*/
    }
    .loginbody .password input{
        width: 310px;
        height: 35px;
        position: absolute;
        /*top: 60px;*/
        left: 18px;/*((350-2-2)-310)/2*/
    }
    #forgot{
        /*background-color: blueviolet;*/
        width: 100px;
        position: relative;
        top:120px;
        left: 110px;
    }
    #signinbutton{
        width: 200px;
        height: 35px;
        position: relative;
        top: 150px;
        left: 75px;/*(350px-200px)/2*/
        cursor: pointer;
        background: #222A35;
        border: 2px solid #222A35;
        color: antiquewhite;
    }
    #loginbutton:hover{
        background: transparent;
        color: #222A35;
    }
    #additions{
        /*background-color: orange;*/
        position: relative;
        top: 160px;
        text-align: center;
        color:#222A35;
    }
    #signinmessage{
        /*background-color: aqua;*/
        text-align: center;
        color: #222A35;
    }
    .loginbody h1{
        /*background-color: yellow;*/
        width: 86px;
        position: relative;
        left: 132px;/*(350- 86)/2*/
        color: #222A35;
    }
    #signinwith{
        width: 250px;
        height: 50px;
        /*background: yellowgreen;*/
        position: absolute;
        top: 515px;
        left: 50px;/*(350px-250px)/2*/
        display: flex;
        justify-content: space-around;
    }
    #signinwith div{
        width: 50px;
        height: 50px;
        /*background-color: orange;*/
    }
    #continue{
        /*background-color: red;*/
        width: 138px;
        position: relative;
        top: 250px;
        left: 106px;/*(350px - 138px)/2*/
        color:#222A35;
    }
    .loginbody a{
        color:#222A35;
    }
    #signinwith #facebook{
        background-image: url("../../assets/facebookbig.png");
    }
    #signinwith #google{
        background-image: url("../../assets/googlebig.png");
    }
    #signinwith #apple{
        background-image: url("../../assets/applebig.png");
    }
}
@media(max-width:354px){
    .loginbody{
        width: 100%;
        height: 1000px;
        position: relative;
        /*background: #ADB9CA;*/
        background-color: /*#E5CD77*/aliceblue;
    }
    .loginbody .chart{
        width: /*30%*//*500*/260px;
        height: 600px;
        /*background-color: red;*/
        position: absolute;
        top: 200px;/*(1000px-600px)/2*/
        left: calc(50% - 130px);/*(100%-260px)/2*/
        border: 2px solid #222A35;
        background: white;
        border-radius: 20px;
    }
    .loginbody .email{
        /*background-color: yellow;*/
        position: relative;
    }
    .loginbody .email input{
        width: 230px;
        height: 30px;
        position: absolute;
        top: 0px;
        left: 13px;/*((260px-2-2)-230px)/2 (input -u olcusu standart olaraq 300px gelir)*/
    }
    .loginbody .password{
        /*background-color: yellow;*/
        position: relative;
    }
    .loginbody .password input{
        width: 230px;
        height: 30px;
        position: absolute;
        top: 60px;
        left: 13px;
    }
    #forgot{
        position: relative;
        top:120px;
        left: 68px;
    }
    #signinbutton{
        width: 150px;
        height: 35px;
        position: relative;
        top: 150px;
        left: 55px;/*(260px-150px)/2*/
        cursor: pointer;
        background: #222A35;
        border: 2px solid #222A35;
        color: antiquewhite;
    }
    #signinbutton:hover{
        background: transparent;
        color: #222A35;
    }
    #additions{
        /*background-color: orange;*/
        position: relative;
        top: 160px;
        text-align: center;
        color:#222A35;
    }
    #signinmessage{
        /*background-color: aqua;*/
        text-align: center;
        color: #222A35;
    }
    .loginbody h1{
        /*background-color: yellow;*/
        width: 90px;
        position: relative;
        left: 85px;/*(260px - 90px)/2*/
        color: #222A35;
    }
    #signinwith{
        width: 125px;
        height: 25px;
        /*background: yellowgreen;*/
        position: absolute;
        top: 515px;
        left: 67.5px;/*(260px-125px)/2*/
        display: flex;
        justify-content: space-around;
    }
    #signinwith div{
        width: 25px;
        height: 25px;
        /*background-color: orange;*/
    }
    #continue{
        /*background-color: red;*/
        width: 138px;
        position: relative;
        top: 250px;
        left: 61px;/*(260px - 138px)/2*/
        color:#222A35;
    }
    .signinbody a{
        color:#222A35;
    }
    #signinwith #facebook{
        background-image: url("../../assets/facebooklittle.png");
    }
    #signinwith #google{
        background-image: url("../../assets/googlelittle.png");
    }
    #signinwith #apple{
        background-image: url("../../assets/applelittle.png");
    }
}